In [1]:
import pandas as pd

url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv'
df = pd.read_csv(url)

In [2]:
df

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [3]:
from sklearn.preprocessing import MinMaxScaler

new_df = df.drop(columns = ['date', 'lights'])
scaler = MinMaxScaler()
normalized_new_df = pd.DataFrame(scaler.fit_transform(new_df), columns = new_df.columns)

In [4]:
target_variable = normalized_new_df['Appliances']

In [5]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split


linear_model = LinearRegression()
x_train, x_test, y_train, y_test = train_test_split(normalized_new_df, target_variable, test_size = 0.3, random_state = 42)
linear_model.fit(x_train, y_train)

LinearRegression()

In [6]:
predicted_output = linear_model.predict(x_test)

In [7]:
from sklearn.metrics import r2_score

linear_df_r2_score = r2_score(predicted_output, y_test)
round(linear_df_r2_score, 2)

1.0

In [8]:
from sklearn.metrics import mean_absolute_error

linear_df_mae = mean_absolute_error(predicted_output, y_test)
round(linear_df_mae, 2)

0.0

In [9]:
import numpy as np

linear_df_rss = np.sum(np.square(predicted_output - y_test))
round(linear_df_rss, 2)

0.0

In [12]:
from sklearn.metrics import mean_squared_error as mse

linear_df_rmse = np.sqrt(mse(predicted_output, y_test))
round(linear_df_rmse, 3)

0.0

In [11]:
#weights = pd.Series(linear_model.coef_, x_train.columns).sort_values()
weights_df = pd.DataFrame(linear_model.coef_, x_train.columns).reset_index()
weights_df.columns = ['Features', 'Linear Model']
weights_df['Linear Model'].round(3)

weights_df

       Features  Linear Model
0    Appliances  1.000000e+00
1            T1 -6.403099e-16
2          RH_1  3.344283e-16
3            T2 -1.387882e-16
4          RH_2 -1.362369e-15
5            T3  4.340234e-16
6          RH_3  3.334230e-18
7            T4  3.425818e-16
8          RH_4 -6.241233e-16
9            T5 -2.492159e-16
10         RH_5  2.340639e-16
11           T6 -3.987151e-16
12         RH_6 -2.029170e-16
13           T7 -4.098400e-16
14         RH_7  9.915095e-16
15           T8  5.646011e-16
16         RH_8 -2.113305e-16
17           T9  3.954612e-16
18         RH_9  1.459492e-16
19        T_out  7.731828e-16
20  Press_mm_hg -2.115753e-16
21       RH_out  3.756219e-16
22    Windspeed  2.440016e-16
23   Visibility -2.527630e-16
24    Tdewpoint -5.679109e-17
25          rv1 -1.038054e-16
26          rv2 -1.038054e-16

In [13]:
from sklearn.linear_model import Lasso

lasso_reg = Lasso()
lasso_reg.fit(x_train, y_train)

Lasso()

In [14]:
lasso_predicted_output = lasso_reg.predict(x_test)

In [19]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

lasso_r2_score = r2_score(lasso_predicted_output, y_test)
print('Lasso r2 score: ', round(lasso_r2_score, 2))

lasso_mae = mean_absolute_error(lasso_predicted_output, y_test)
print('Lasso mean absolute error: ', round(lasso_mae, 2))

lasso_rss = np.sum(np.square(lasso_predicted_output - y_test))
print('Lasso residual sum of squares: ', round(lasso_rss, 2))

lasso_rmse = np.sqrt(mean_squared_error(lasso_predicted_output, y_test))
print('Lasso root mean squared error: ', round(lasso_rmse, 2))

Lasso r2 score:  -4.672402117282229e+31
Lasso mean absolute error:  0.06
Lasso residual sum of squares:  53.28
Lasso root mean squared error:  0.09

In [17]:
from sklearn.linear_model import Ridge

ridge_reg = Ridge()
ridge_reg.fit(x_train, y_train)

Ridge()

In [18]:
ridge_predicted_output = ridge_reg.predict(x_test)

In [20]:
ridge_r2_score = r2_score(ridge_predicted_output, y_test)
print('Ridge r2 score: ', round(ridge_r2_score, 2))

ridge_mae = mean_absolute_error(ridge_predicted_output, y_test)
print('Ridge mean absolute error: ', round(ridge_mae, 2))

ridge_rss = np.sum(np.square(ridge_predicted_output - y_test))
print('Ridge residual sum of squares: ', round(ridge_rss, 2))

ridge_rmse = np.sqrt(mean_squared_error(ridge_predicted_output, y_test))
print('Ridge root mean squared error: ', round(ridge_rmse, 2))

Ridge r2 score:  1.0
Ridge mean absolute error:  0.0
Ridge residual sum of squares:  0.0
Ridge root mean squared error:  0.0