In [1]:
import numpy as np
import pandas as pd

In [2]:
url = 'https://query.data.world/s/wh6j7rxy2hvrn4ml75ci62apk5hgae'
data = pd.read_csv(url)

C:\Users\U\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
data.describe(include = 'all')

,country,year,country_code,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,QScore
count,72186,72186.000000,72186.000000,72186,5.171400e+04,5.171400e+04,51714,5.171300e+04,5.171300e+04,5.171300e+04,7.217700e+04,72185
unique,193,NaN,NaN,8,NaN,NaN,49103,NaN,NaN,NaN,NaN,5
top,Tonga,NaN,NaN,BiocapTotGHA,NaN,NaN,0,NaN,NaN,NaN,NaN,3A
freq,448,NaN,NaN,9024,NaN,NaN,180,NaN,NaN,NaN,NaN,51481
mean,NaN,1990.263154,155.618915,NaN,1.920772e+07,1.352875e+07,NaN,1.004860e+07,1.984737e+06,3.072609e+07,7.792960e+07,NaN
std,NaN,16.018761,390.261979,NaN,1.685819e+08,1.294180e+08,NaN,1.081375e+08,1.730488e+07,3.989630e+08,7.455443e+08,NaN
min,NaN,1961.000000,1.000000,NaN,0.000000e+00,0.000000e+00,NaN,0.000000e+00,0.000000e+00,0.000000e+00,1.876963e-02,NaN
25%,NaN,1977.000000,59.000000,NaN,3.581080e-01,1.948302e-01,NaN,8.005409e-02,3.786298e-02,0.000000e+00,1.894023e+00,NaN
50%,NaN,1991.000000,121.000000,NaN,3.251810e+00,9.978667e+00,NaN,6.154094e+00,2.044437e-01,0.000000e+00,8.292253e+03,NaN
75%,NaN,2004.000000,193.000000,NaN,3.610817e+06,1.734192e+06,NaN,9.450000e+05,3.867180e+05,1.915736e+01,1.532959e+07,NaN
max,NaN,2016.000000,5001.000000,NaN,3.984702e+09,3.417089e+09,NaN,2.979605e+09,4.726163e+08,1.257160e+10,2.061182e+10,NaN

In [4]:
data.head()

,country,year,country_code,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,QScore
0,Armenia,1992,1,AreaPerCap,0.140292,0.199546,0.097188051,0.036888,0.029320,0.000000,5.032351e-01,3A
1,Armenia,1992,1,AreaTotHA,483000.000000,687000.000000,334600,127000.000000,100943.000800,0.000000,1.732543e+06,3A
2,Armenia,1992,1,BiocapPerCap,0.159804,0.135261,0.084003213,0.013742,0.033398,0.000000,4.262086e-01,3A
3,Armenia,1992,1,BiocapTotGHA,550176.242700,465677.972200,289207.1078,47311.551720,114982.279300,0.000000,1.467355e+06,3A
4,Armenia,1992,1,EFConsPerCap,0.387510,0.189462,1.26E-06,0.004165,0.033398,1.114093,1.728629e+00,3A

In [5]:
data['QScore'].count()

72185

In [6]:
data['QScore'].value_counts()

3A    51481
2A    10576
2B    10096
1A       16
1B       16
Name: QScore, dtype: int64

In [7]:
data.isna().sum()

country               0
year                  0
country_code          0
record                0
crop_land         20472
grazing_land      20472
forest_land       20472
fishing_ground    20473
built_up_land     20473
carbon            20473
total                 9
QScore                1
dtype: int64

In [8]:
df = data.dropna()

In [9]:
df.isna().sum()

country           0
year              0
country_code      0
record            0
crop_land         0
grazing_land      0
forest_land       0
fishing_ground    0
built_up_land     0
carbon            0
total             0
QScore            0
dtype: int64

In [10]:
df['QScore'].value_counts()

3A    51473
2A      224
1A       16
Name: QScore, dtype: int64

In [11]:
df['QScore'] = df['QScore'].replace(['1A'], '2A')
df['QScore'].value_counts()

<ipython-input-11-b2446f1551ff>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['QScore'] = df['QScore'].replace(['1A'], '2A')

3A    51473
2A      240
Name: QScore, dtype: int64

In [12]:
df_2A = df[df.QScore == '2A']
df_3A = df[df.QScore == '3A'].sample(350)

In [13]:
df_2A

,country,year,country_code,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,QScore
1536,Algeria,2016,4,AreaPerCap,2.072989e-01,8.112722e-01,0.048357265,2.258528e-02,2.998367e-02,0.000000e+00,1.119497e+00,2A
1537,Algeria,2016,4,AreaTotHA,8.417600e+06,3.294260e+07,1963600,9.171000e+05,1.217520e+06,0.000000e+00,4.545842e+07,2A
1538,Algeria,2016,4,BiocapPerCap,2.021916e-01,2.636077e-01,0.027166736,7.947991e-03,2.924496e-02,0.000000e+00,5.301590e-01,2A
1539,Algeria,2016,4,BiocapTotGHA,8.210214e+06,1.070408e+07,1103135.245,3.227369e+05,1.187524e+06,0.000000e+00,2.152769e+07,2A
1540,Algeria,2016,4,EFConsPerCap,6.280528e-01,1.810332e-01,0.162800822,1.472910e-02,2.924496e-02,1.391455e+00,2.407316e+00,2A
...,...,...,...,...,...,...,...,...,...,...,...,...
65469,Ukraine,2016,230,BiocapTotGHA,8.966961e+07,6.457412e+06,19268322.04,6.920056e+06,3.952345e+06,0.000000e+00,1.262677e+08,2A
65470,Ukraine,2016,230,EFConsPerCap,1.155004e+00,1.081601e-02,0.149119494,5.150234e-02,8.893945e-02,1.453137e+00,2.908519e+00,2A
65471,Ukraine,2016,230,EFConsTotGHA,5.132678e+07,4.806484e+05,6626661.768,2.288692e+06,3.952345e+06,6.457538e+07,1.292505e+08,2A
65472,Ukraine,2016,230,EFProdPerCap,2.017831e+00,5.768143e-03,0.216720935,3.223480e-03,8.893945e-02,1.665767e+00,3.998251e+00,2A
65473,Ukraine,2016,230,EFProdTotGHA,8.966961e+07,2.563282e+05,9630775.281,1.432470e+05,3.952345e+06,7.402438e+07,1.776767e+08,2A

In [14]:
df_3A

,country,year,country_code,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,QScore
60461,"Tanzania, United Republic of",1964,215,BiocapTotGHA,3.829477e+06,1.408132e+07,9650259.341,3.060478e+06,2.470193e+05,0.000000e+00,3.086855e+07,3A
67538,Viet Nam,1970,237,AreaPerCap,1.405844e-01,7.247898e-03,0.316836,9.933099e-01,2.082564e-02,0.000000e+00,1.478804e+00,3A
35304,Lao People's Democratic Republic,1961,120,AreaPerCap,2.994922e-01,4.146816e-01,10.0657343,2.764544e-01,4.972493e-02,0.000000e+00,1.110609e+01,3A
26400,Guyana,2003,91,AreaPerCap,6.357592e-01,1.635949e+00,22.09196711,9.323316e+00,5.177208e-02,0.000000e+00,3.373876e+01,3A
26080,Guyana,1963,91,AreaPerCap,5.782436e-01,1.604626e+00,29.73677465,1.128185e+01,5.177207e-02,0.000000e+00,4.325327e+01,3A
...,...,...,...,...,...,...,...,...,...,...,...,...
46281,Norway,2000,162,EFProdTotGHA,1.702080e+06,1.919794e+06,5674036.993,2.528579e+07,2.616858e+05,1.357489e+07,4.841828e+07,3A
32397,Japan,2001,110,EFConsTotGHA,6.878130e+07,1.946556e+07,41321231.31,6.150713e+07,8.277309e+06,4.626401e+08,6.619927e+08,3A
48577,Peru,1983,170,EFProdTotGHA,3.313877e+06,1.287114e+07,3193901.69,2.127030e+06,6.321223e+05,6.307104e+06,2.844517e+07,3A
3794,Bahamas,1991,12,BiocapPerCap,4.217835e-02,3.515023e-03,1.682328292,1.193912e+01,2.957719e-02,0.000000e+00,1.369672e+01,3A
28813,Indonesia,1999,101,EFConsTotGHA,8.565054e+07,4.534881e+06,59555534.03,2.951416e+07,1.124444e+07,9.209290e+07,2.825925e+08,3A

In [15]:
data_df = df_2A.append(df_3A)
data_df

,country,year,country_code,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,QScore
1536,Algeria,2016,4,AreaPerCap,2.072989e-01,8.112722e-01,0.048357265,2.258528e-02,2.998367e-02,0.000000e+00,1.119497e+00,2A
1537,Algeria,2016,4,AreaTotHA,8.417600e+06,3.294260e+07,1963600,9.171000e+05,1.217520e+06,0.000000e+00,4.545842e+07,2A
1538,Algeria,2016,4,BiocapPerCap,2.021916e-01,2.636077e-01,0.027166736,7.947991e-03,2.924496e-02,0.000000e+00,5.301590e-01,2A
1539,Algeria,2016,4,BiocapTotGHA,8.210214e+06,1.070408e+07,1103135.245,3.227369e+05,1.187524e+06,0.000000e+00,2.152769e+07,2A
1540,Algeria,2016,4,EFConsPerCap,6.280528e-01,1.810332e-01,0.162800822,1.472910e-02,2.924496e-02,1.391455e+00,2.407316e+00,2A
...,...,...,...,...,...,...,...,...,...,...,...,...
46281,Norway,2000,162,EFProdTotGHA,1.702080e+06,1.919794e+06,5674036.993,2.528579e+07,2.616858e+05,1.357489e+07,4.841828e+07,3A
32397,Japan,2001,110,EFConsTotGHA,6.878130e+07,1.946556e+07,41321231.31,6.150713e+07,8.277309e+06,4.626401e+08,6.619927e+08,3A
48577,Peru,1983,170,EFProdTotGHA,3.313877e+06,1.287114e+07,3193901.69,2.127030e+06,6.321223e+05,6.307104e+06,2.844517e+07,3A
3794,Bahamas,1991,12,BiocapPerCap,4.217835e-02,3.515023e-03,1.682328292,1.193912e+01,2.957719e-02,0.000000e+00,1.369672e+01,3A
28813,Indonesia,1999,101,EFConsTotGHA,8.565054e+07,4.534881e+06,59555534.03,2.951416e+07,1.124444e+07,9.209290e+07,2.825925e+08,3A

In [16]:
import sklearn.utils

data_df = sklearn.utils.shuffle(data_df)
data_df = data_df.reset_index(drop = True)

data_df.shape

(590, 12)

In [17]:
data_df.QScore.value_counts()

3A    350
2A    240
Name: QScore, dtype: int64

In [18]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
data_df.record = encoder.fit_transform(data_df.record)

In [19]:
data_df = data_df.drop(columns = ['country', 'year', 'country_code'])

X = data_df.drop(columns = 'QScore')
y = data_df['QScore']

In [20]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [21]:
y_train.value_counts()

3A    250
2A    163
Name: QScore, dtype: int64

In [22]:
from imblearn.over_sampling import SMOTE

smote = SMOTE(random_state = 1)
x_train_balanced, y_train_balanced = smote.fit_resample(x_train, y_train)

In [23]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
normalized_train_df = scaler.fit_transform(x_train_balanced.drop(columns = ['record']))
normalized_train_df = pd.DataFrame(normalized_train_df, columns = x_train_balanced.drop(columns = ['record']).columns)
normalized_train_df['record'] = x_train_balanced['record']

In [24]:
x_test = x_test.reset_index(drop = True)
normalized_test_df = scaler.transform(x_test.drop(columns = ['record']))
normalized_test_df = pd.DataFrame(normalized_test_df, columns = x_test.drop(columns = ['record']).columns)
normalized_test_df['record'] = x_test['record']

In [25]:
from sklearn.linear_model import LogisticRegression

log_reg = LogisticRegression()
log_reg.fit(normalized_train_df, y_train_balanced)

LogisticRegression()

In [26]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(log_reg, normalized_train_df, y_train_balanced, cv = 5, scoring = 'f1_macro')
scores

array([0.51980792, 0.44862155, 0.56892231, 0.47979192, 0.45913462])

In [27]:
from sklearn.metrics import confusion_matrix

new_predictions = log_reg.predict(normalized_test_df)
cnf_mat = confusion_matrix(y_true = y_test, y_pred = new_predictions, labels = ['2A', '3A'])
cnf_mat

array([[40, 37],
       [50, 50]], dtype=int64)

In [28]:
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(y_true = y_test, y_pred = new_predictions)
print(f'Accuracy: {round(accuracy*100, 2)}')

Accuracy: 50.85

In [29]:
from sklearn.metrics import precision_score

precision = precision_score(y_true = y_test, y_pred = new_predictions, pos_label = '2A')
print(f'Precision: {round(precision * 100, 2)}')

Precision: 44.44

In [30]:
from sklearn.metrics import recall_score

recall = recall_score(y_true = y_test, y_pred = new_predictions, pos_label = '2A')
print(f'Recall: {round(recall * 100, 2)}')

Recall: 51.95

In [31]:
from sklearn.metrics import f1_score

f1 = f1_score(y_true = y_test, y_pred = new_predictions, pos_label = '2A')
print(f'F1: {round(f1 * 100, 2)}')

F1: 47.9

In [32]:
from sklearn.model_selection import KFold

kf = KFold(n_splits = 5)

f1_scores = []

for train_index, test_index in kf.split(normalized_train_df):
    x_train, x_test = normalized_train_df.iloc[train_index], normalized_train_df.iloc[test_index]
    y_train, y_test = y_train_balanced.iloc[train_index], y_train_balanced.iloc[test_index]
    
    model = LogisticRegression().fit(x_train, y_train)
    f1_scores.append(f1_score(y_true = y_test, y_pred = model.predict(x_test), pos_label = '2A') * 100)

In [33]:
f1_scores

[57.352941176470594,
 59.130434782608695,
 53.73134328358209,
 57.35294117647059,
 0.0]

In [34]:
from sklearn.model_selection import StratifiedKFold

skf = StratifiedKFold(n_splits = 5, shuffle = True, random_state = 1)
f1_scores = []

for train_index, test_index in skf.split(normalized_train_df, y_train_balanced):
    x_train, x_test = np.array(normalized_train_df)[train_index], np.array(normalized_train_df)[test_index]
    y_train, y_test = y_train_balanced[train_index], y_train_balanced[test_index]
    
    model = LogisticRegression().fit(x_train, y_train)
    f1_scores.append(f1_score(y_true = y_test, y_pred = model.predict(x_test), pos_label = '2A'))

In [35]:
f1_scores

[0.616822429906542,
 0.6349206349206348,
 0.42424242424242425,
 0.608695652173913,
 0.505263157894737]

In [36]:
from sklearn.model_selection import LeaveOneOut

loo = LeaveOneOut()
scores = cross_val_score(LogisticRegression(), normalized_train_df, y_train_balanced, cv = loo, scoring = 'f1_macro')

average_score = scores.mean() * 100
average_score

51.0

In [37]:
from sklearn.tree import DecisionTreeClassifier

dec_tree = DecisionTreeClassifier()
dec_tree.fit(normalized_train_df, y_train_balanced)

DecisionTreeClassifier()