In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('Data_for_UCI_named.csv')

In [3]:
data.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,0.055347,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,-0.005957,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,0.003471,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,0.028871,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,0.049860,unstable

In [4]:
data.describe(include = 'all')

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,unstable
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6380
mean,5.250000,5.250001,5.250004,5.249997,3.750000,-1.250000,-1.250000,-1.250000,0.525000,0.525000,0.525000,0.525000,0.015731,NaN
std,2.742548,2.742549,2.742549,2.742556,0.752160,0.433035,0.433035,0.433035,0.274256,0.274255,0.274255,0.274255,0.036919,NaN
min,0.500793,0.500141,0.500788,0.500473,1.582590,-1.999891,-1.999945,-1.999926,0.050009,0.050053,0.050054,0.050028,-0.080760,NaN
25%,2.874892,2.875140,2.875522,2.874950,3.218300,-1.624901,-1.625025,-1.624960,0.287521,0.287552,0.287514,0.287494,-0.015557,NaN
50%,5.250004,5.249981,5.249979,5.249734,3.751025,-1.249966,-1.249974,-1.250007,0.525009,0.525003,0.525015,0.525002,0.017142,NaN
75%,7.624690,7.624893,7.624948,7.624838,4.282420,-0.874977,-0.875043,-0.875065,0.762435,0.762490,0.762440,0.762433,0.044878,NaN
max,9.999469,9.999837,9.999450,9.999443,5.864418,-0.500108,-0.500072,-0.500025,0.999937,0.999944,0.999982,0.999930,0.109403,NaN

In [5]:
data.isna().sum()

tau1     0
tau2     0
tau3     0
tau4     0
p1       0
p2       0
p3       0
p4       0
g1       0
g2       0
g3       0
g4       0
stab     0
stabf    0
dtype: int64

In [6]:
data_df = data.drop(columns = ['stab', 'stabf'])
data_stabf = data['stabf']

In [7]:
data_df

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2.930406,9.487627,2.376523,6.187797,3.343416,-0.658054,-1.449106,-1.236256,0.601709,0.779642,0.813512,0.608385
9996,3.392299,1.274827,2.954947,6.894759,4.349512,-1.663661,-0.952437,-1.733414,0.502079,0.567242,0.285880,0.366120
9997,2.364034,2.842030,8.776391,1.008906,4.299976,-1.380719,-0.943884,-1.975373,0.487838,0.986505,0.149286,0.145984
9998,9.631511,3.994398,2.757071,7.821347,2.514755,-0.966330,-0.649915,-0.898510,0.365246,0.587558,0.889118,0.818391
9999,6.530527,6.781790,4.349695,8.673138,3.492807,-1.390285,-1.532193,-0.570329,0.073056,0.505441,0.378761,0.942631

In [8]:
data_stabf

0       unstable
1         stable
2       unstable
3       unstable
4       unstable
          ...
9995    unstable
9996      stable
9997      stable
9998    unstable
9999    unstable
Name: stabf, Length: 10000, dtype: object

In [9]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(data_df, data_stabf, test_size = 0.2, random_state = 1)

In [10]:
y_train.value_counts()

unstable    5092
stable      2908
Name: stabf, dtype: int64

In [11]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
y_train = encoder.fit_transform(y_train)
y_test = encoder.transform(y_test)

In [12]:
from imblearn.over_sampling import SMOTE

smote = SMOTE(random_state = 1)
x_train_balanced, y_train_balanced = smote.fit_resample(x_train, y_train)

In [13]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
normalized_train_df = scaler.fit_transform(x_train_balanced)
normalized_train_df = pd.DataFrame(normalized_train_df, columns = x_train_balanced.columns)

In [14]:
x_test = x_test.reset_index(drop = True)

normalized_test_df = scaler.transform(x_test)
normalized_test_df = pd.DataFrame(normalized_test_df, columns = x_test.columns)

In [15]:
from sklearn.ensemble import RandomForestClassifier

rfc_model = RandomForestClassifier(random_state = 1)
rfc_model.fit(normalized_train_df, y_train_balanced)

RandomForestClassifier(random_state=1)

In [21]:
rfc_pred = rfc_model.predict(normalized_test_df)

In [22]:
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(y_true = y_test, y_pred = rfc_pred)
print(accuracy)

0.918

In [16]:
from sklearn.ensemble import ExtraTreesClassifier

etc = ExtraTreesClassifier(random_state = 1)
etc.fit(normalized_train_df, y_train_balanced)

ExtraTreesClassifier(random_state=1)

In [17]:
from xgboost import XGBClassifier

xgb_model = XGBClassifier(random_state = 1)
xgb_model.fit(normalized_train_df, y_train_balanced)

C:\Users\U\anaconda3\lib\site-packages\xgboost\sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[12:31:28] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=2, num_parallel_tree=1, random_state=1,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [23]:
xgb_pred = xgb_model.predict(normalized_test_df)

accuracy = accuracy_score(y_true = y_test, y_pred = xgb_pred)
print(accuracy)

0.9415

In [18]:
from lightgbm import LGBMClassifier

lgbmc_model = LGBMClassifier(random_state = 1)
lgbmc_model.fit(normalized_train_df, y_train_balanced)

LGBMClassifier(random_state=1)

In [24]:
lgbmc_pred = lgbmc_model.predict(normalized_test_df)

accuracy = accuracy_score(y_true = y_test, y_pred = lgbmc_pred)
print(accuracy)

0.93

#n_estimators = [50, 100, 300, 500, 1000] n_estimators = n_estimators, 
min_samples_split = [2, 3, 5, 7, 9]
min_samples_leaf = [1, 2, 4, 6, 8]
max_features = ['auto', 'sqrt', 'log2', None]


advanced_etc = ExtraTreesClassifier(min_samples_leaf = min_samples_leaf, random_state = 1,
                                    min_samples_split = min_samples_split, max_features = max_features)
advanced_etc.fit(normalized_train_df, y_train_balanced)

In [19]:
2 * ((0.1934 * 0.8875)/(0.1934 + 0.8875))

0.317591821630123

In [20]:
from scipy.stats import entropy

In [ ]:
from sklearn.model_selection import RandomizedSearchCV, cross_val_score

n_estimators = [100, 300, 500, 1000]
min_samples_split = [2, 5, 7]
min_samples_leaf = [4, 6, 8]
max_features = ['auto', 'log2', None]


for n_estimator in n_estimators:
    for min_sample_split in min_samples_split:
        for min_sample_leaf in min_samples_leaf:
            for max_feature in max_features:
                #rscv = RandomizedSearchCV(estimator = n_estimator, param_distributions = n_estimators)
                score = cross_val_score(ExtraTreesClassifier(n_estimators = n_estimator, min_samples_split = min_sample_split,
                                                             min_samples_leaf = min_sample_leaf, max_features = max_feature), 
                                        normalized_train_df, y_train_balanced,scoring = 'f1_macro')
                print(sum(score), n_estimator, min_sample_split, min_sample_leaf, max_feature, '\n')

In [28]:
ExtraTreesClassifier?